<div class="content" *ngIf="products">
  <div class="container">
    <div *ngIf="products.length > 0">
      <h1>Lista</h1>
      <table>
        <tr class="thead">
          <th style="width: 35%">Produto</th>
          <th style="width: 35%">Veículo de Aplicação</th>
          <th style="width: 120px">Peso Bruto</th>
          <th style="width: 120px">Peso Líquido</th>
          <th class="control" style="width: 100px">Ação</th>
        </tr>
        <tr *ngFor="let product of products">
          <td>{{ product.nome }}</td>
          <td>{{ product.veiculoAplicacao }}</td>
          <td>{{ product.pesoBruto | number: "1.2-2" }}</td>
          <td>{{ product.pesoLiquido | number: "1.2-2" }}</td>
          <td class="control">
            <a
              class="primary"
              [routerLink]="['/editar-produto', product.id]"
              style="font-size: 0.8rem;"
            >
              <fa-icon [icon]="faPen"></fa-icon>
            </a>
            <a
              href="#"
              class="danger"
              (click)="deleteProduct(product.id, $event)"
            >
              <fa-icon [icon]="faTimes"></fa-icon>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div class="message" *ngIf="products.length == 0">
      <h1>Nenhum produto cadastrado</h1>
      <p>
        Por favor clique no botão adicionar acima <Br />para cadastrar o
        primeiro produto
      </p>
    </div>
  </div>
</div>
