<div class="content">
  <div class="container">
    <h1>
      {{ modeEdition == "edit" ? "Editar Produto" : "Adicionar Produto" }}
    </h1>
    <form [formGroup]="form" novalidate (ngSubmit)="submit()">
      <div class="row">
        <div class="group">
          <label>Nome do Produto:</label>
          <input type="text" formControlName="nome" />
        </div>
      </div>
      <div class="row">
        <div class="group">
          <label>Veículo de aplicação:</label>
          <input type="text" formControlName="veiculoAplicacao" />
        </div>
        <div class="group">
          <label>Peso Bruto:</label>
          <input type="number" formControlName="pesoBruto" step="0.01" />
        </div>
        <div class="group">
          <label>Peso Líquido:</label>
          <input type="number" formControlName="pesoLiquido" step="0.01" />
        </div>
      </div>
      <div class="row pull-right">
        <button type="submit" [disabled]="!form.valid">
          {{ modeEdition == "edit" ? "Editar" : "Adicionar" }}
        </button>
      </div>
    </form>
  </div>
</div>
